bcrypt==4.1.2
cryptography==42.0.5
flask-cors==4.0.0
flask-jwt-extended==4.6.0
flask-sqlalchemy==3.1.1
pip-chill==1.0.3
pip-tools==7.4.1
pydantic==2.6.4
pymysql==1.1.0
python-dotenv==1.0.1
flask==3.0.2